@using QuangBaDuLich.Models
@model List<DiaDiem>

@{
    ViewBag.Title = "Interface";
}

<div class="cover-top">
    <img src="~/Content/Images/DoiCheTN2.jpg" alt="Image" width="100%" height="400" />
    <h3 class="">Địa Điểm Nổi Bật</h3>
</div>

<div class="p-5">

    <div class="row px-5">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6">
                <div class="item-wrapper">
                    <img src=@item.ImagesUrl alt="Image" width="250" height="149" />
                    <label class="item-name">@item.Ten</label>
                    @*<label class="item-address">Địa chỉ: @item.DiaChi</label>*@
                    @*<input type="button" class="btn-dat-phong" onclick="location.href = '/DiaDiem/@item.Id'" value="Chi Tiết" />*@
                    <button class="btn btn-success btn-full" onclick="location.href = '/Home/Detail/@item.Id'">Chi Tiết</button>
                </div>
            </div>
        }
    </div>
</div>
